pkgbase = timeshift-uki-hooks-git
	pkgdesc = Hooks inteligentes para Timeshift que sincronizan imágenes UKI (Unified Kernel Images) con snapshots Btrfs
	pkgver = v2.2
	pkgrel = 1
	url = https://github.com/jairogaleano/timeshift-uki-hooks-v2
	arch = any
	license = GPL3
	makedepends = git
	depends = timeshift
	depends = bash
	depends = coreutils
	provides = timeshift-uki-hooks
	conflicts = timeshift-uki-hooks
	source = git+https://github.com/jairogaleano/timeshift-uki-hooks-v2.git
	sha256sums = SKIP

pkgname = timeshift-uki-hooks-git
